@import '../../variables';

$pallete-color-size: 64px;

.pallete__container {
	position: relative;
	height: $pallete-color-size + 48px;
	background-color: #3a3a3a;
	display: grid;
	align-items: center;
	justify-items: center;
	border: 2px solid $color-primary;

	button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		position: absolute;
		bottom: 14%;
		left: 23%;
		height: 32px;
		width: 32px;
		background-color: transparent;
		padding: 0;
		border: 0;
		outline: 0;
		cursor: pointer;

		svg {
			fill: #a3a3a3;
		}

		&:hover {
			svg {
				fill: $color-primary;
			}
		}

		&::-moz-focus-inner {
			border: 0;
		}
	}

	.pallete {
		position: relative;
		margin-top: 1rem;
		margin-left: 3rem;

		&__color {
			width: $pallete-color-size;
			height: $pallete-color-size;
			display: flex;
			justify-content: center;
			align-items: center;

			input {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				width: 100%;
				height: 100%;
				padding: 0;
				border: 0;
				cursor: pointer;

				&::-moz-focus-inner {
					border: 0;
				}
			}
		}

		&__color:nth-child(1) {
			position: absolute;
			left: -33%;
			top: -33%;
		}
	}
}
