@import '../../variables';

.arts {
	height: 768px;
	overflow-y: auto;
	border: 2px solid $color-primary;

	&__list {
		min-height: 100%;
		background-color: #3a3a3a;
		display: grid;
		grid-auto-rows: 170px;
		gap: 0.5rem;
		padding: 1rem;
		margin: 0;
		list-style: none;

		li {
			height: max-content;

			position: relative;
			display: grid;
			margin: 0.5rem;
			padding: 0;

			button {
				position: absolute;
				top: -6.5%;
				right: -6.5%;
				width: 24px;
				height: 24px;
				color: white;
				background-color: #bb0000;
				font-weight: bold;
				padding: 2px;
				border: 0;
				border-radius: 50%;
				outline: none;
				cursor: pointer;

				&:hover {
					background-color: #ec0000;
				}

				&:active {
					transform: scale(0.95);
				}

				&::-moz-focus-inner {
					border: 0;
				}
			}

			img {
				width: 150px;
				height: 150px;
				background-image: url('./transparent_bg.png');
				background-size: contain;
				border: 2px solid $color-primary;
				image-rendering: pixelated;
				image-rendering: -moz-crisp-edges;

				&.active {
					box-shadow: 0 0 1rem -0.1rem $color-primary;
				}
			}

			span {
				color: $color-primary;
				justify-self: center;
			}
		}
	}
}
